.dashboard {
  display: flex;
}
nav {
  width: 300px;
  padding: 20px 0;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.3s;
}
nav .logo {
  padding: 0 10px;
}
nav .fa-chevron-left,
nav .fa-chevron-right {
  position: absolute;
  top: 80px;
  right: -20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px -5px #000;
  color: #0367b4;
  cursor: pointer;
  font-size: 13px;
}
nav .fa-chevron-right {
  display: none;
}
nav ul li a,
.sub-link {
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #8f8f8f;
  font-size: 14px;
  padding: 20px 20px;
}
nav ul li a i {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  font-size: 18px;
}
nav ul li a:hover,
.sub-link:hover {
  background-color: #eaf4fc;
}
.active-link {
  color: #0367b4 !important;
  border-right: 2px solid #0367b4;
}
.active-link i {
  color: #0367b4;
}
#finance .sub-link {
  width: 100%;
  padding: 20px 0;
  padding-left: 40px;
}
.finance {
  position: relative;
}
.fa-chevron-down,
.fa-chevron-up {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: unset !important;
  height: unset !important;
  font-size: 12px !important;
}
.main {
  background-color: #eaf4fc;
  width: calc(100% - 300px);
  min-height: 100vh;
  padding: 20px;
}
