<div class="back">
  <a routerLink="/dashboard-tutor/home"
    ><i class="fas fa-arrow-left mr-2"></i>Quay lại</a
  >
</div>
<div class="banking-main">
  <p style="font-weight: 600; font-size: 14px">Tài khoản ngân hàng</p>
  <div class="row mt-4">
    <div class="mb-3 col-xl-3">
      <button class="insert-card" data-toggle="modal" data-target="#insertCard">
        <i class="fas fa-plus"></i>
        <p>Tài khoản ngân hàng</p>
      </button>
    </div>
    <div class="mb-3 col-xl-3">
      <div class="cards">
        <div class="card-headerr">
          <i class="fas fa-check-circle mr-2"></i> Đã xác thực
        </div>
        <div class="card-main">
          <p class="bank-name pt-2 pb-2">Vietcombank</p>
          <p class="number pt-3 pb-3">
            <span class="hidden">****</span> <span class="show">1774</span>
          </p>
          <p class="name pt-2 pb-2">Nguyễn Anh Tuấn</p>
        </div>
        <div class="card-bottom"><span>Mặc định</span></div>
      </div>
    </div>
    <div class="mb-3 col-xl-3">
      <div class="cards">
        <div class="card-headerr">
          <i class="fas fa-check-circle mr-2"></i> Đã xác thực
        </div>
        <div class="card-main">
          <p class="bank-name pt-2 pb-2">Vietcombank</p>
          <p class="number pt-3 pb-3">
            <span class="hidden">****</span> <span class="show">1774</span>
          </p>
          <p class="name pt-2 pb-2">Nguyễn Anh Tuấn</p>
        </div>
        <div class="card-bottom"></div>
      </div>
    </div>
    <div class="mb-3 col-xl-3">
      <div class="cards">
        <div class="card-headerr">
          <i class="fas fa-check-circle mr-2"></i> Đã xác thực
        </div>
        <div class="card-main">
          <p class="bank-name pt-2 pb-2">Vietcombank</p>
          <p class="number pt-3 pb-3">
            <span class="hidden">****</span> <span class="show">1774</span>
          </p>
          <p class="name pt-2 pb-2">Nguyễn Anh Tuấn</p>
        </div>
        <div class="card-bottom"></div>
      </div>
    </div>
    <div class="mb-3 col-xl-3">
      <div class="cards">
        <div class="card-headerr">
          <i class="fas fa-check-circle mr-2"></i> Đã xác thực
        </div>
        <div class="card-main">
          <p class="bank-name pt-2 pb-2">Vietcombank</p>
          <p class="number pt-3 pb-3">
            <span class="hidden">****</span> <span class="show">1774</span>
          </p>
          <p class="name pt-2 pb-2">Nguyễn Anh Tuấn</p>
        </div>
        <div class="card-bottom"></div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="insertCard"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          Tài khoản ngân hàng
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="cardForm">
          <div class="input-area">
            <input
              type="text"
              class="form-control"
              formControlName="fullName"
              placeholder="Họ và tên"
            />
            <div
              *ngIf="
                f.fullName.invalid && (f.fullName.dirty || f.fullName.touched)
              "
            >
              <div *ngIf="f.fullName.errors">
                <div *ngIf="f.fullName.errors.required">
                  <span class="errors">Tên không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="input-area">
            <input
              type="text"
              class="form-control"
              formControlName="phoneNumber"
              placeholder="Số điện thoại"
            />
            <div
              *ngIf="
                f.phoneNumber.invalid &&
                (f.phoneNumber.dirty || f.phoneNumber.touched)
              "
            >
              <div *ngIf="f.phoneNumber.errors">
                <div *ngIf="f.phoneNumber.errors.required">
                  <span class="errors">Số điện thoại không được để trống</span>
                </div>
                <div
                  *ngIf="
                    f.phoneNumber.errors.minlength ||
                    f.phoneNumber.errors.maxlength
                  "
                >
                  <span class="errors">Số điện thoại phải chứa 10 số</span>
                </div>
              </div>
            </div>
          </div>

          <div class="input-area">
            <input
              type="text"
              class="form-control"
              formControlName="accountNumber"
              placeholder="Số tài khoản"
            />
            <div
              *ngIf="
                f.accountNumber.invalid &&
                (f.accountNumber.dirty || f.accountNumber.touched)
              "
            >
              <div *ngIf="f.accountNumber.errors">
                <div *ngIf="f.accountNumber.errors.required">
                  <span class="errors">Số thẻ không được để trống</span>
                </div>
                <div *ngIf="f.accountNumber.errors.minlength">
                  <span class="errors">Số thẻ ít hơn 9 số</span>
                </div>
                <div *ngIf="f.accountNumber.errors.maxlength">
                  <span class="errors">Số thẻ nhiều hơn 14 số</span>
                </div>
              </div>
            </div>
          </div>
          <div class="input-area">
            <select id="bank" formControlName="bank" class="form-control">
              <option selected="selected" disabled="disabled">
                Chọn ngân hàng
              </option>
              <ng-container *ngFor="let bank of bankList">
                <option [ngValue]="bank">{{ bank.bankName }}</option>
              </ng-container>
            </select>
            <div *ngIf="f.bank.invalid && (f.bank.dirty || f.bank.touched)">
              <div *ngIf="f.bank.errors">
                <div *ngIf="f.bank.errors.required">
                  <span class="errors">Vui lòng chọn ngân hàng</span>
                </div>
              </div>
            </div>
          </div>
          <input
            type="checkbox"
            formControlName="defaultCard"
            id="defaultCard"
          />
          <label for="defaultCard">Đặt làm thẻ mặc định</label>
          <div class="modal-footer">
            <button
              type="button"
              (click)="cardForm.reset()"
              class="close"
              data-dismiss="modal"
            >
              Hủy
            </button>
            <button
              type="submit"
              (click)="addBank()"
              class="update valid"
              *ngIf="cardForm.valid"
            >
              Thêm
            </button>
            <button
              type="submit"
              class="update invalid"
              *ngIf="!cardForm.valid"
            >
              Thêm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
