<footer>
  <div class="container">
    <img src="./assets/images/logo-white.svg" alt="" />
    <div class="row mt-3">
      <div class="col-xl-4">
        <p class="title">Trường Đại học Công Nghệ ĐHQGHN</p>
        <p>Địa chỉ: 144 Xuân Thủy Cầu Giấy Hà Nội</p>
        <div style="color: #fff; font-size: 14px">
          Sinh viên thực hiện:
          <ul>
            <li>
              <p style="padding-bottom: 10px">Nguyễn Văn Trường</p>
            </li>
            <li>
              <p style="padding-bottom: 10px">Vũ Văn Tuấn</p>
            </li>
            <li>
              <p style="padding-bottom: 10px">Vũ Duy Hoàng</p>
            </li>
            <li>
              <p style="padding-bottom: 10px">Nguyễn Văn Tráng</p>
            </li>
            <li>
              <p style="padding-bottom: 10px">Lê Hoàng Anh</p>
            </li>
          </ul>
        </div>
        <p>Thực hành Công nghệ phần mềm</p>
      </div>
      <div class="text-center col-xl-4">
        <p class="title">Hotline</p>
        <p class="title">0123456789</p>
      </div>
      <div class="text-right col-xl-4">
        <p class="title">Follow us</p>
        <p class="social">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-google-plus-g"></i>
          <i class="fab fa-twitter"></i>
        </p>
      </div>
    </div>
    <div class="row bottom">
      <div class="col-xl-4">
        <p>Chính sách bảo mật</p>
      </div>
      <div class="text-center col-xl-4">
        <p>Điều khoản sử dụng</p>
      </div>
      <div class="text-right col-xl-4">
        <p>2022 Akadon Education. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
