<app-header></app-header>
<!-- banner -->
<div class="banner mb-5" id="trang-chu">
  <div class="container">
    <div class="row">
      <div class="text col-xl-5">
        <div class="_text" style="width: 80%">
          <p class="title">Hỗ trợ gia sư ở thời đại 4.0</p>
          <p class="content">
            Ngoài việc kết nối với học viên qua một nền tảng mở và minh bạch,
            bạn còn có thể quản lý toàn bộ quá trình dạy học của mình dễ dàng
          </p>
          <a href="" class="link" routerLink="/user/register/register-tutor"
            >Đăng ký làm gia sư <i class="fas fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-xl-7">
        <img src="./assets/images/banner-student.svg" alt="" class="w-100" />
      </div>
    </div>
  </div>
</div>
<!-- end-banner -->
<!-- tính năng nổi bật -->
<p class="title text-center mt-5 mb-5" id="tinh-nang">Tính năng nổi bật</p>
<div class="container tinh-nang">
  <div class="row">
    <div class="col-xl-6" style="padding: 0 20px">
      <img
        src="./assets/images/tutor-page/tinh-nang-1.svg"
        style="width: 100%"
        alt=""
      />
    </div>
    <div class="col-xl-6" style="padding: 0 100px">
      <div class="text" style="margin-top: 90px">
        <p class="title">Gửi đề nghị dạy dễ dàng</p>
        <p class="content">
          Bạn có thể nhìn thấy những yêu cầu tìm kiếm phù hợp phù hợp với tiêu
          chí của mình nhất, nắm rõ tất cả các thông tin và đưa ra đề nghị dạy
          một cách tự do và dễ dàng
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 90px 0">
    <div class="col-xl-6" style="padding: 0 20px">
      <div class="text" style="margin-top: 90px; padding-left: 80px">
        <p class="title">Chuyển tiền an toàn và nhanh chóng</p>
        <p class="content">
          Bạn có thể chuyển doanh thu của bạn vào tài khoản ngân hàng và nhận
          tiền gần như ngay lập tức
        </p>
      </div>
    </div>
    <div class="col-xl-6" style="padding: 0 100px">
      <img
        src="./assets/images/tutor-page/tinh-nang-2.svg"
        style="width: 100%"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6" style="padding: 0 20px">
      <img
        src="./assets/images/tutor-page/tinh-nang-3.svg"
        style="width: 100%"
        alt=""
      />
    </div>
    <div class="col-xl-6" style="padding: 0 100px">
      <div class="text" style="margin-top: 90px">
        <p class="title">Dạy trực tuyến mượt mà</p>
        <p class="content">
          Bạn có thể sử dụng hệ thống video call 1-1 của Akadon không giật lag
          và an toàn, cùng với hệ thống tài liệu học tập và ghi chú để lưu giữ
          mọi thứ đã học và dạy, không sợ thất lạc và không lo mất kiểm soát
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end-tính-năng-nổi-bật -->
<!-- cac-goi-tai-khoan -->
<p class="title text-center mt-5 mb-5" id="chi-phi">Các gói tài khoản</p>
<div class="packages container">
  <div class="row">
    <div class="col-xl-4">
      <div class="package">
        <img src="./assets/images/tutor-page/goi-co-ban.png" alt="" />
        <span class="pack-price">Miễn phí</span>

        <div class="pack-name">Cơ bản</div>
        <ul>
          <li>
            <p>
              <i class="fas fa-check-circle"></i>Được dạy tối đa
              <span>01</span> học sinh cùng lúc
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-check-circle"></i>Gửi tối đa <span>05</span> đề
              nghị dạy / tháng
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="package" id="standard">
        <img src="./assets/images/tutor-page/goi-tieu-chuan.png" alt="" />
        <p class="pack-price">
          299.000
          <span>VNĐ / tháng</span>
        </p>

        <div class="pack-name">Tiêu chuẩn</div>
        <ul>
          <li>
            <p>
              <i class="fas fa-check-circle"></i>Được dạy tối đa
              <span>07</span> học sinh cùng lúc
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-check-circle"></i>Gửi tối đa <span>40</span> đề
              nghị dạy / tháng
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-check-circle"></i>
              Được hiển thị huy hiệu VIP
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-check-circle"></i>Được hiển thị Chứng nhận Lý
              lịch tư pháp
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-check-circle"></i>Được hỗ trợ 24/7 bởi AKADON khi
              có vấn đề phát sinh
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="package" id="professional">
        <img src="./assets/images/tutor-page/goi-chuyen-nghiep.png" alt="" />
        <p class="pack-price">
          599.000
          <span>VNĐ / tháng</span>
        </p>

        <div class="pack-name">Cơ bản</div>
        <ul>
          <li>
            <p>
              <i class="fas fa-check-circle"></i> Được dạy tối đa
              <span>20</span> học sinh cùng lúc - Xây dựng sự nghiệp từ công
              việc gia sư fulltime
            </p>
          </li>
          <li>
            <p><i class="fas fa-check-circle"></i>Không giới hạn đề nghị dạy</p>
          </li>
          <li>
            <p><i class="fas fa-check-circle"></i>Được hiển thị huy hiệu VIP</p>
          </li>
          <li>
            <p>
              <i class="fas fa-check-circle"></i>Được hiển thị Chứng nhận Lý
              lịch tư pháp
            </p>
          </li>
          <li>
            <p>
              <i class="fas fa-check-circle"></i>Được hỗ trợ 24/7 bởi AKADON khi
              có vấn đề phát sinh
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end-cac-goi-tai-khoan -->
<!-- dich-vu -->
<p class="title text-center mt-5 mb-5" id="dich-vu">
  Trải nghiệm tìm Học viên và dạy học với nhiều lựa chọn
</p>
<div class="dich-vu">
  <div class="container">
    <p class="text-center title">
      Gia sư đăng ký tài khoản theo nhu cầu cá nhân và chỉ bị giới hạn số lượng
      học viên được dạy. <br />
      Ngoài ra, Gia sư có thể sử dụng toàn bộ hệ thống của Akadon, bao gồm:
    </p>
    <ul>
      <li>
        <img src="./assets/images/dich-vu-1.svg" alt="" />
        <p>Hệ thống tìm gia sư</p>
      </li>
      <li>
        <img src="./assets/images/dich-vu-2.svg" alt="" />
        <p>Hệ thống quản lý khóa học</p>
      </li>
      <li>
        <img src="./assets/images/dich-vu-3.svg" alt="" />
        <p>Hệ thống học tập trực tuyến</p>
      </li>
      <li>
        <img src="./assets/images/dich-vu-4.svg" alt="" />
        <p>Hệ thống hệ thống thanh toán</p>
      </li>
      <li>
        <img src="./assets/images/dich-vu-5.svg" alt="" />
        <p>Hệ thống chăm sóc khách hàng</p>
      </li>
    </ul>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-xl-6">
      <div class="dieu-khoan">
        <ul>
          <li>
            <p>
              Nếu Gia sư có nhu cầu trải nghiệm tính năng, hoặc nhu cầu học viên
              thấp, Akadon khuyên dùng tài khoản Miễn phí, với giới hạn 1 học
              viên 1 tháng. Gia sư có thể nâng cấp bất cứ lúc nào qua trang web.
            </p>
          </li>
          <li>
            <p>
              Nếu Gia sư có nhu cầu lớn hơn, thì Akadon cũng cung cấp 2 loại tài
              khoản Cơ bản và Chuyên nghiệp với các giới hạn học viên khác nhau.
              Với những loại tài khoản này, Akadon thu 1 khoản phí định kỳ để
              duy trì tài khoản, đồng thời nâng cao chất lượng sản phẩm và đảm
              bảo Gia sư có trải nghiệm tốt nhất.
            </p>
          </li>
        </ul>
        <img src="./assets/images/tutor-page/dieu-khoan.svg" alt="" />
      </div>
    </div>
    <div class="col-xl-6">
      <div class="cam-ket">
        <ul>
          <li>
            <span class="bold" style="font-size: 21px">Chúng tôi cam kết</span>
            <ul>
              <li>
                <i class="fas fa-check-circle"></i> Không lấy phí trung gian của
                việc kết nối
              </li>
              <li>
                <i class="fas fa-check-circle"></i> Không thu phí trung gian
                từng buổi học hay khóa học
              </li>
              <li>
                <i class="fas fa-check-circle"></i> Không có các chi phí ẩn
              </li>
            </ul>
          </li>
        </ul>
        <p class="note">
          Gia sư chỉ phải trả duy nhất các khoản phụ phí giao dịch khi rút
          tiền/chuyển tiền qua Ngân hàng hay sử dụng cổng thanh toán
        </p>
        <img src="./assets/images/tutor-page/cam-ket.svg" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- end-dich-vu -->
<!-- faq -->
<p class="title text-center mt-5" style="font-size: 36px" id="faq">FAQ</p>
<div class="container">
  <div class="faq row">
    <div class="col-xl-8">
      <ul>
        <li>
          <a data-toggle="collapse" class="collapse-link" href="#question1"
            >1. AKADON cung cấp dịch vụ gì ?</a
          >
          <div class="collapse" id="question1">
            <div class="card card-body">
              <p>
                <a class="link" href="/" target="_blank">Akadon Education</a> là
                website kết nối Học viên với Gia sư nhanh chóng và an toàn.
              </p>
              <p>
                Sau khi kết nối, Gia sư và Học viên có thể học trực tiếp tại
                nhà, hoặc học online ngay trên webiste của AKADON với nhiều tiện
                ích hỗ trợ học tập và hệ thống quản lý lớp học thông minh.
              </p>
            </div>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" class="collapse-link" href="#question2"
            >2. Quy trình tìm gia sư tại AKADON như thế nào ?</a
          >
          <div class="collapse" id="question2">
            <div class="card card-body">
              <p>
                <a class="link" href="/" target="_blank">Akadon Education</a> là
                website kết nối Học viên với Gia sư nhanh chóng và an toàn.
              </p>
              <p>
                Sau khi kết nối, Gia sư và Học viên có thể học trực tiếp tại
                nhà, hoặc học online ngay trên webiste của AKADON với nhiều tiện
                ích hỗ trợ học tập và hệ thống quản lý lớp học thông minh.
              </p>
            </div>
          </div>
        </li>
        <li>
          <a data-toggle="collapse" class="collapse-link" href="#question2"
            >3. Học viên có thể tìm gia sư cho những môn học nào ?</a
          >
        </li>
        <li>
          <a
            data-toggle="collapse"
            class="collapse-link"
            href="#collapseExample"
            >4. Học viên có thể học tập qua những hình thức nào ?</a
          >
        </li>
        <li>
          <a
            data-toggle="collapse"
            class="collapse-link"
            href="#collapseExample"
            >5. Học phí trung bình cần trả cho gia sư là bao nhiêu ?</a
          >
        </li>
        <li>
          <a
            data-toggle="collapse"
            class="collapse-link"
            href="#collapseExample"
            >6. Học viên có thể trả học phí qua những hình thức nào ?</a
          >
        </li>
        <li>
          <a
            data-toggle="collapse"
            class="collapse-link"
            href="#collapseExample"
            >7. Học viên có thể trao đổi với gia sư bằng cách nào ?</a
          >
        </li>
        <li>
          <a
            data-toggle="collapse"
            class="collapse-link"
            href="#collapseExample"
            >8. Hợp đồng điện tử (E-contract) là gì ?</a
          >
        </li>
        <li>
          <a
            data-toggle="collapse"
            class="collapse-link"
            href="#collapseExample"
            >9. Học viên làm thế nào để báo cáo nếu nhận thấy hành vi không đứng
            đắn từ phí gia sư ?</a
          >
        </li>
        <li>
          <a
            data-toggle="collapse"
            class="collapse-link"
            href="#collapseExample"
            >10. Chỉ số hành vi (ABI) là gì ?</a
          >
        </li>
      </ul>
    </div>
    <div class="image-question col-xl-4">
      <img src="./assets/images/faq.png" alt="" />
    </div>
  </div>
</div>
<!-- end-faq -->
<!-- gui-cau-hoi -->
<div class="send-question mt-5 mb-5 container">
  <div class="row">
    <div class="question-image col-xl-6">
      <img src="./assets/images/question-2.png" class="w-75" alt="" />
    </div>
    <div class="col-xl-6">
      <p class="title" style="font-weight: 500">
        Bạn có câu hỏi dành cho chúng tôi
      </p>
      <form
        class="mt-4"
        [formGroup]="questionForm"
        (ngSubmit)="submitQuestion()"
      >
        <div class="name-phoneNumber">
          <div class="input-area">
            <label for="fullname">Họ và tên</label>
            <input
              type="text"
              class="form-control"
              id="fullname"
              formControlName="fullname"
              placeholder="Họ và tên"
            />
            <div
              *ngIf="
                f.fullname.invalid && (f.fullname.dirty || f.fullname.touched)
              "
            >
              <div *ngIf="f.fullname.errors">
                <div *ngIf="f.fullname.errors.required">
                  <span class="errors">Tên không được để trống</span>
                </div>
              </div>
            </div>
          </div>
          <div class="input-area">
            <label for="phonenumber">Số điện thoại</label>
            <input
              type="text"
              class="form-control"
              id="phonenumber"
              formControlName="phonenumber"
              placeholder="0123-345-789"
            />
            <div
              *ngIf="
                f.phonenumber.invalid &&
                (f.phonenumber.dirty || f.phonenumber.touched)
              "
            >
              <div *ngIf="f.phonenumber.errors">
                <div *ngIf="f.phonenumber.errors.required">
                  <span class="errors">Số điện thoại không được để trống</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-area">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="example@gmail.com"
          />
          <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
            <div *ngIf="f.email.errors">
              <div *ngIf="f.email.errors.required">
                <span class="errors">Email không được để trống</span>
              </div>
              <div *ngIf="f.email.errors.email">
                <span class="errors">Không đúng định dạng email</span>
              </div>
            </div>
          </div>
        </div>
        <div class="input-area">
          <label for="content">Nội dung</label>
          <textarea
            id="content"
            class="form-control"
            rows="6"
            placeholder="Quy trình tìm gia sư như thế nào ?"
            formControlName="content"
          ></textarea>
          <div
            *ngIf="f.content.invalid && (f.content.dirty || f.content.touched)"
          >
            <div *ngIf="f.content.errors">
              <div *ngIf="f.content.errors.required">
                <span class="errors">Nội dung không được để trống</span>
              </div>
            </div>
          </div>
        </div>
        <div class="submit">
          <button
            type="submit"
            class="view-profile valid"
            *ngIf="questionForm.valid"
          >
            Gửi <i class="fas fa-arrow-right"></i>
          </button>
          <button
            type="submit"
            class="view-profile"
            *ngIf="!questionForm.valid"
            style="cursor: not-allowed; opacity: 0.5"
          >
            Gửi
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end-gui-cau-hoi -->
<app-footer></app-footer>
