<div class="main">
  <p class="title">Sổ tay hướng dẫn quy trình mở lớp tại AKADON</p>
  <ul>
    <li class="mb-3">
      <p style="color: #000">
        Quy trình mở lớp tại Akadon được áp dụng theo phương thức “ ”, học viên
        và giáo viên đều có quyền thỏa thuận, thương lượng để đạt được chi phí
        tốt nhất và cách dạy phù hợp nhất.
      </p>
    </li>
    <li class="mb-3">
      <p style="color: #000">Quy trình mở lớp như sau: (6 bước)</p>
    </li>
  </ul>
  <div
    id="custCarousel"
    class="carousel slide"
    data-interval="false"
    data-ride="carousel"
    align="center"
  >
    <!-- Thumbnails -->
    <ol class="carousel-indicators list-inline">
      <li class="list-inline-item active">
        <a
          id="carousel-selector-0"
          class="selected"
          data-slide-to="0"
          data-target="#custCarousel"
        >
          Bước 1
        </a>
      </li>
      <li class="list-inline-item">
        <a
          id="carousel-selector-1"
          data-slide-to="1"
          data-target="#custCarousel"
        >
          Bước 2
        </a>
      </li>
      <li class="list-inline-item">
        <a
          id="carousel-selector-2"
          data-slide-to="2"
          data-target="#custCarousel"
        >
          Bước 3
        </a>
      </li>
      <li class="list-inline-item">
        <a
          id="carousel-selector-2"
          data-slide-to="3"
          data-target="#custCarousel"
        >
          Bước 4
        </a>
      </li>
      <li class="list-inline-item">
        <a
          id="carousel-selector-2"
          data-slide-to="4"
          data-target="#custCarousel"
        >
          Bước 5
        </a>
      </li>
      <li class="list-inline-item">
        <a
          id="carousel-selector-2"
          data-slide-to="5"
          data-target="#custCarousel"
        >
          Bước 6
        </a>
      </li>
    </ol>
    <!-- slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p class="step">Bước 1</p>
        <ul>
          <li>
            <p>
              Học viên đăng
              <span style="color: #ff743a">Yêu cầu tìm giáo viên</span> MIỄN PHÍ
              và có thể xem lại ở mục
              <span style="color: #ff743a">Yêu cầu đang mở</span>
            </p>
          </li>
        </ul>
        <div class="images">
          <img src="./assets/images/dashboard/Step/step1.png" alt="" />
          <img src="./assets/images/dashboard/Step/step1.1.png" alt="" />
        </div>
        <div class="images-bottom step1">
          <img src="./assets/images/dashboard/Step/step1.1.1.png" alt="" />
          <img src="./assets/images/dashboard/Step/step1.1.2.png" alt="" />
        </div>
      </div>
      <div class="carousel-item">
        <p class="step">Bước 2</p>
        <ul>
          <li>
            <p>
              Giáo viên nhận được yêu cầu phù hợp với chuyên môn của mình. Nếu
              hứng thú, giáo viên có thể gửi
              <span style="color: #ff743a">Đề nghị dạy</span> cho yêu cầu đó
            </p>
            <p>
              <span style="color: #ff743a">Đề nghị dạy</span> được gửi đi dưới
              dạng <span style="color: #ff743a">Hợp đồng tạm thời</span> - còn
              được gọi là <span style="color: #ff743a">E-contract</span>
            </p>
          </li>
        </ul>
        <div class="images">
          <img src="./assets/images/dashboard/Step/step1.png" alt="" />
        </div>
        <div class="images-bottom">
          <img src="./assets/images/dashboard/Step/step2.1.png" alt="" />
        </div>
      </div>
      <div class="carousel-item">
        <p class="step">Bước 3</p>
        <ul>
          <li>
            <p>
              Từ danh sách giáo viên đã đề nghị dạy, Học viên sẽ tạm
              <span style="color: #ff743a">chấp nhận 01 giáo viên</span> phù hợp
              để trao đổi thêm. Lúc này yêu cầu được chuyển sang mục
              <span style="color: #ff743a">Học thử</span>
            </p>
            <p>
              Giáo viên và Học viên cùng trao đổi qua chat để thống nhất nội
              dung khóa học (thời gian, thời lượng, học phí ...) trong
              E-contract.
            </p>
          </li>
        </ul>
        <p class="note">
          <span style="font-weight: bold; text-decoration: underline"
            >Lưu ý:</span
          >
          chỉ
          <span style="font-weight: bold; color: rgb(3, 103, 180)"
            >Học viên có thể chỉnh sửa E-contract</span
          >, giáo viên có quyền chấp nhận hoặc không chấp nhận sự chỉnh sửa này.
          Trong khi chờ gia sư chấp nhận/không chấp nhận, E-contract được chuyển
          sang trạng thái
          <span style="font-weight: bold; color: rgb(3, 103, 180)"
            >Đang thương lượng</span
          >
        </p>
        <div class="images">
          <img src="./assets/images/dashboard/Step/step3.png" alt="" />
        </div>
        <div class="images-bottom">
          <img src="./assets/images/dashboard/Step/step3.1.png" alt="" />
        </div>
      </div>
      <div class="carousel-item">
        <p class="step">Bước 4</p>
        <ul>
          <li>
            <p>
              Sau khi cả hai bên cùng thống nhất nội dung khóa học, Học viên
              chính thức chấp nhận E-contract.
              <span style="color: #ff743a"> Khóa học đang chờ</span> được tạo
            </p>
            <p>Giáo viên sẽ là người bắt đầu khóa học.</p>
          </li>
        </ul>

        <div class="images">
          <img src="./assets/images/dashboard/Step/step4.png" alt="" />
        </div>
        <div class="images-bottom">
          <img src="./assets/images/dashboard/Step/step4.1.png" alt="" />
        </div>
      </div>
      <div class="carousel-item">
        <p class="step">Bước 5</p>
        <ul>
          <li>
            <p>
              Giáo viên và học viên học tập trên nền tảng của AKADON(online)
              hoặc học tập tại nhà (offline) và được sử dụng các công cụ hỗ trợ
              quản lý lớp học của AKADON.
            </p>
          </li>
        </ul>
        <div class="images">
          <img src="./assets/images/dashboard/Step/step5.png" alt="" />
        </div>
        <div class="images-bottom">
          <img src="./assets/images/dashboard/Step/step5.1.png" alt="" />
        </div>
      </div>
      <div class="carousel-item">
        <p class="step">Bước 6</p>
        <ul>
          <li>
            <p>
              Học viên <span style="color: #ff743a"> thanh toán cho </span>Giáo
              viên sau <span style="color: #ff743a"> mỗi buổi học</span>
            </p>
          </li>
        </ul>
        <div class="images">
          <img src="./assets/images/dashboard/Step/step6.png" alt="" />
        </div>
        <div class="images-bottom">
          <img src="./assets/images/dashboard/Step/step6.1.png" alt="" />
        </div>
      </div>
    </div>
    <!-- Left right -->
    <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"
        ><i class="fas fa-chevron-left"></i
      ></span>
    </a>
    <a class="carousel-control-next" href="#custCarousel" data-slide="next">
      <span class="carousel-control-next-icon"
        ><i class="fas fa-chevron-right"></i
      ></span>
    </a>
  </div>
  <p class="note">
    <span style="text-decoration: underline; font-weight: 700">Ghi chú:</span>
    Tại bất cứ bước nào từ bước 1-4, Giáo viên hoặc Học viên đề có quyền hủy hợp
    tác với bên còn lại.
  </p>
</div>
