p {
  margin: 0;
}
.back {
  margin: 30px 0 20px 0;
}
.back a {
  color: #8f8f8f;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s;
  text-decoration: none;
}
.back a:hover {
  color: #ff6d34 !important;
}
.request-title {
  display: flex;
  align-items: center;
}
.request-title p {
  margin-left: 15px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.filters {
  width: 60%;
}
.filters ul {
  display: flex;
  justify-content: space-between;
}
.filters .form-control {
  width: 170px;
  font-size: 14px;
  padding: 22px 10px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8f8f8f;
  transition: 0.3s;
  position: relative;
}
.filters .form-control:hover {
  box-shadow: 0px 0px 30px -15px rgb(0, 195, 255);
}
.filters .form-control .checkbox {
  position: absolute;
  display: none;
  background-color: #fff;
  top: 45px;
  left: 0;
  border-radius: 5px;
  border: 1px solid rgba(204, 204, 204, 0.767);
  z-index: 2;
  color: #000;
  max-height: 380px;
  overflow-y: scroll;
}
.filters .form-control .checkbox .checkbox-area {
  display: flex;
  align-items: center;
  padding: 10px 5px;
  transition: 0.2s;
}
.filters .form-control .checkbox .checkbox-area:hover {
  background-color: rgba(204, 204, 204, 0.411);
}
.filters .form-control .checkbox .checkbox-area label {
  cursor: pointer;
  margin-left: 10px;
  width: 100%;
}
.filters ul li button {
  background-color: #0367b4;
  font-size: 16px;
  width: 110px;
  height: 100%;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.3s;
}
.filters ul li .reset {
  background-color: #eaf4fc;
  border: 1px solid #0367b4;
  color: #0367b4;
}
.filters ul li button:hover {
  box-shadow: 0px 0px 20px -5px #0367b4;
}
.filter-result {
  display: none;
}
.request-list .request {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: 0.3s;
}
.request-list .request:hover {
  top: -5px;
  box-shadow: 1px 5px 15px -10px #5eacff;
}
.request-list .request .request-content {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 70%;
}
.request-list .request .request-content .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.request-list .request .request-content .request-title {
  font-weight: 600;
  font-size: 18px;
}
.request-list .request .request-content .subject-info {
  display: flex;
}
.request-list .request .request-content .normal {
  color: #a194b3;
}
.request-list .request .request-content .bold {
  color: #000;
  font-weight: 500;
}
.request-list .request .request-student {
  display: flex;
  align-items: center;
  margin-right: 80px;
  width: 30%;
}
.request-list .request .request-student img {
  border-radius: 50%;
  border: 1px solid red;
  width: 60px;
  height: 60px;
}
.vote {
  position: relative;
}
.vote .disable-star {
  position: absolute;
  top: 0;
  left: 0;
}
