<div id="main-pre-accept-bid">
  <div class="filters mt-4 mb-4 pt-3">
    <ul>
      <li class="filter">
        <mat-form-field
          appearance="fill"
          class="example-form-field"
          style="height: 25px"
        >
          <mat-label>Ngày cập nhật</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker" [formGroup]="range">
            <input
              matStartDate
              placeholder="Start date"
              formControlName="start"
            />
            <input matEndDate placeholder="End date" formControlName="end" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="rangePicker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker>
            <mat-date-range-picker-actions>
              <button
                mat-button
                matDateRangePickerCancel
                class="btn btn-primary bg-danger"
                style="border: none; font-size: 14px; font-weight: 500"
              >
                Hủy
              </button>
              <button
                style="
                  border: none;
                  margin-left: 10px;
                  font-size: 14px;
                  font-weight: 500;
                "
                class="btn btn-primary bg-info"
                mat-raised-button
                color="primary"
                matDateRangePickerApply
              >
                Lọc
              </button>
            </mat-date-range-picker-actions>
          </mat-date-range-picker>
        </mat-form-field>
      </li>
      <li
        class="form-control filter"
        (click)="showCheckbox($event)"
        id="subject"
      >
        <span>Môn học</span>
        <i class="fas fa-filter" style="font-size: 13px"></i>
        <div class="checkbox" id="subjectCheckbox">
          <div class="checkbox-area" *ngFor="let subject of subjectData">
            <input
              type="checkbox"
              name="subject"
              id="{{ subject.subjectName }}"
              [value]="subject.subjectName"
              class="id-{{ subject.subjectId }}"
            />
            <label for="{{ subject.subjectName }}">{{
              subject.subjectName
            }}</label>
          </div>
        </div>
      </li>
      <li class="form-control filter" (click)="showCheckbox($event)" id="level">
        <span>Trình độ</span>
        <i class="fas fa-filter" style="font-size: 13px"></i>
        <div class="checkbox" id="levelCheckbox">
          <div class="checkbox-area" *ngFor="let level of levelData">
            <input
              type="checkbox"
              name="level"
              id="{{ level.levelName }}"
              [value]="level.levelName"
              class="id-{{ level.levelId }}"
            />
            <label for="{{ level.levelName }}">{{ level.levelName }}</label>
          </div>
        </div>
      </li>
      <li class="form-control filter" (click)="showCheckbox($event)" id="cost">
        <span>Ngân sách</span>
        <i class="fas fa-filter" style="font-size: 13px"></i>
        <div class="checkbox" id="costCheckbox">
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="smaller-100"
              value="< {{ 100000 | number }} VNĐ"
            />
            <label for="smaller-100">< {{ 100000 | number }} VNĐ</label>
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="100-to-200"
              value="{{ 100000 | number }} - {{ 200000 | number }} VNĐ"
            />
            <label for="100-to-200"
              >{{ 100000 | number }} - {{ 200000 | number }} VNĐ</label
            >
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="200-to-300"
              value="{{ 200000 | number }} - {{ 300000 | number }} VNĐ"
            />
            <label for="200-to-300"
              >{{ 200000 | number }} - {{ 300000 | number }} VNĐ</label
            >
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="300-to-400"
              value="{{ 300000 | number }} - {{ 400000 | number }} VNĐ"
            />
            <label for="300-to-400"
              >{{ 300000 | number }} - {{ 400000 | number }} VNĐ</label
            >
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="400-to-500"
              value="{{ 400000 | number }} - {{ 500000 | number }} VNĐ"
            />
            <label for="400-to-500"
              >{{ 400000 | number }} - {{ 500000 | number }} VNĐ</label
            >
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="500-to-600"
              value="{{ 500000 | number }} - {{ 600000 | number }} VNĐ"
            />
            <label for="500-to-600"
              >{{ 500000 | number }} - {{ 600000 | number }} VNĐ</label
            >
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="600-to-700"
              value="{{ 600000 | number }} - {{ 700000 | number }} VNĐ"
            />
            <label for="600-to-700"
              >{{ 600000 | number }} - {{ 700000 | number }} VNĐ</label
            >
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="700-to-800"
              value="{{ 700000 | number }} - {{ 800000 | number }} VNĐ"
            />
            <label for="700-to-800"
              >{{ 700000 | number }} - {{ 800000 | number }} VNĐ</label
            >
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="800-to-900"
              value="{{ 800000 | number }} - {{ 900000 | number }} VNĐ"
            />
            <label for="800-to-900"
              >{{ 800000 | number }} - {{ 900000 | number }} VNĐ</label
            >
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="900-to-1000"
              value="900,000 - 1000,000 VNĐ"
            />
            <label for="800-to-900"
              >{{ 900000 | number }} - {{ 1000000 | number }} VNĐ</label
            >
          </div>
          <div class="checkbox-area">
            <input
              type="checkbox"
              name="cost"
              id="bigger-1000"
              value="> 1,000,000"
            />
            <label for="bigger-1000">> {{ 1000000 | number }} VNĐ</label>
          </div>
        </div>
      </li>
      <li>
        <button (click)="filter()" class="filter">Lọc</button>
        <button (click)="reset()" class="reset">Bỏ lọc</button>
      </li>
    </ul>
  </div>
  <p class="filter-result mt-4 mb-4">
    <span class="mr-2">Kết quả lọc của:</span><span class="filterrr"></span>
  </p>
  <p
    *ngIf="tutorRequest.length === 0"
    style="color: red; font-weight: 600; padding: 0px 60px"
  >
    Không tìm thấy kết quả nào
  </p>
  <div class="request-list">
    <div class="request" *ngFor="let request of tutorRequest">
      <a
        routerLink="/dashboard-tutor/student-request-detail/{{
          request.objStudentRequest?.studentRequestId
        }}"
        target="_blank"
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: unset;
          width: 80%;
          text-decoration: none;
        "
      >
        <div class="request-content" style="width: 70%">
          <div class="receiveDate mr-3">
            <p style="font-weight: 600">Ngày nhận:</p>
            <p>{{ request?.receiveDate | date: "dd/MM/yyyy" }}</p>
          </div>
          <img
            src="http://localhost:8888/upload/images/{{
              request.objStudentRequest?.objSubject?.subjectImage
            }}"
            alt=""
          />
          <div class="info ml-3">
            <p class="request-title mb-2">
              {{ request.objStudentRequest?.studentRequestTitle }}
            </p>
            <div class="subject-info">
              <div
                class="subject pr-2 mb-2"
                style="border-right: 1px solid rgba(0, 0, 0, 0.404)"
              >
                <span class="normal"
                  >Môn học:
                  <span class="bold">{{
                    request.objStudentRequest?.objSubject?.subjectName
                  }}</span></span
                >
              </div>
              <div
                class="cost pl-2 pr-2 mb-2"
                style="border-right: 1px solid rgba(0, 0, 0, 0.404)"
              >
                <span class="normal"
                  >Trình độ:
                  <span class="bold">{{
                    request.objStudentRequest?.objLevel?.levelName
                  }}</span></span
                >
              </div>
              <div class="cost pl-2 mb-2">
                <span
                  >Ngân sách:
                  <span style="color: #3bb0a9; font-weight: 500">
                    {{ request.objStudentRequest?.costPerHour | number }}
                    VNĐ/tiếng</span
                  ></span
                >
              </div>
            </div>
            <div class="learning-method">
              <span class="normal"
                >Hình thức học:
                <span class="bold">{{
                  request.objStudentRequest?.learningMethod
                    ? "Online"
                    : "Offline"
                }}</span></span
              >
            </div>
          </div>
        </div>

        <div class="request-student" style="width: 30%">
          <img
            src="http://localhost:8888/upload/images/{{
              request?.objStudentRequest?.objStudent?.image
            }}"
            alt=""
            class="mr-3"
          />
          <div class="student-info">
            <p class="student-name mb-2" style="font-weight: 600">
              {{ request.objStudentRequest?.objStudent?.fullName }}
            </p>
            <div class="vote ml-2">
              <div class="active-star">
                <i
                  class="fas fa-star mb-1"
                  style="color: #ccc"
                  *ngFor="let i of [].constructor(5)"
                ></i>
              </div>

              <div class="disable-star">
                <i
                  class="fas fa-star mt-1"
                  style="color: #ff6d34"
                  *ngFor="
                    let i of [].constructor(
                      request.objStudentRequest?.objStudent?.rating
                    )
                  "
                ></i>
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="actions">
        <button
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#acceptRequest"
          (click)="openCourse($event)"
          id="tutorRequest-{{ request.tutorRequestId }}"
        >
          Đồng ý
        </button>
        <button
          class="btn btn-danger"
          (click)="deleteRequest($event)"
          id="tutorRequest-{{ request.tutorRequestId }}"
        >
          Xóa
        </button>
      </div>
    </div>
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="pageEvent = getPaginatorData($event)"
    >
    </mat-paginator>
  </div>
</div>
<!-- modal -->
<div
  class="modal fade"
  id="acceptRequest"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="acceptRequest">Xác nhận yêu cầu</p>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="request-information w-100">
          <div
            class="mb-3 w-100 text-center"
            style="font-size: 18px; font-weight: 600"
          >
            Thông tin chung
          </div>
          <p class="mb-2">
            <span style="font-weight: 600">Lời giới thiệu của học viên: </span
            >{{ tutorRequestView.objStudentRequest?.introduction }}
          </p>
          <p class="mb-2">
            <span style="font-weight: 600">Mong muốn của học viên: </span
            >{{ tutorRequestView.objStudentRequest?.studentWishes }}
          </p>
          <p class="mb-2">
            <span style="font-weight: 600">Học viên thanh toán sau mỗi: </span
            >{{ tutorRequestView.objStudentRequest?.payTime }} buổi học
          </p>
          <p class="mb-2">
            <span style="font-weight: 600"
              >Ngày kết thúc môn học dự kiến:
            </span>
            <span *ngIf="tutorRequestView.objStudentRequest?.endDate">
              {{
                tutorRequestView.objStudentRequest?.endDate | date: "dd/MM/yyyy"
              }}
            </span>
            <span *ngIf="tutorRequestView.objStudentRequest?.endDate === null">
              Chưa có
            </span>
          </p>
        </div>
        <div
          class="mb-3 mt-3 w-100 text-center"
          style="font-size: 18px; font-weight: 600"
        >
          Điền thông tin cho khóa học
        </div>
        <form [formGroup]="courseEditForm" (ngSubmit)="submitEditForm()">
          <div class="learningTime mb-4">
            <p style="color: red; font-weight: 500; margin-bottom: 10px">
              <span>
                Chọn thời gian bắt đầu trong khoảng:
                {{ minTime | date: "HH:mm " }}
                -
                {{ maxTime | date: "HH:mm" }}</span
              >
            </p>
            <div
              style="margin-bottom: 5px"
              style="display: flex; align-items: center"
            >
              <label for="startTime" style="margin-bottom: 5px; width: 50%"
                >Giờ bắt đầu</label
              >
              <label style="margin-bottom: 5px; width: 50%; margin-left: 28px"
                >Giờ kết thúc</label
              >
            </div>
            <div class="input-area timePicker">
              <input
                [ngxTimepicker]="startTimee"
                class="form-control time"
                formControlName="startTime"
                [format]="24"
                placeholder="Giờ bắt đầu"
                [(ngModel)]="startTime"
                [value]="startTime"
                min="{{ minTime | date: 'HH:mm' }}"
                max="{{ maxTime | date: 'HH:mm' }}"
                (ngModelChange)="changeTime()"
              />
              <ngx-material-timepicker #startTimee></ngx-material-timepicker>
              <span
                style="
                  font-weight: 500;
                  font-size: 30px;
                  margin: 0 10px 20px 10px;
                "
                >-</span
              >
              <input
                type="text"
                [value]="endTime | date: 'HH:mm'"
                class="form-control time"
                placeholder="Giờ kết thúc"
                disabled
              />
            </div>
            <div class="input-area datePicker" style="flex-direction: column">
              <label
                for="learningDate"
                style="width: 100%; text-align: left; margin-bottom: 10px"
                >Ngày học</label
              >
              <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Chọn ngày học</mat-label>
                <mat-select
                  formControlName="learningDate"
                  class="form-control"
                  multiple
                  id="learningDate"
                  placeholder="Chọn ngày học"
                >
                  <ng-container *ngFor="let date of learningDateData">
                    <mat-option [value]="date">{{ date }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <div
                *ngIf="
                  t.learningDate.invalid &&
                  (t.learningDate.dirty || t.learningDate.touched)
                "
              >
                <div *ngIf="t.learningDate.errors">
                  <div *ngIf="t.learningDate.errors.required">
                    <span class="errors" style="bottom: -5px"
                      >Vui lòng chọn ngày học</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="try-date mb-2"
              style="position: relative"
              *ngIf="tutorRequestView.objStudentRequest?.testLearning"
            >
              <label
                for="tryDate"
                style="width: 100%; text-align: left; margin-bottom: 10px"
                >Chọn 1 ngày học thử</label
              >
              <mat-form-field
                appearance="fill"
                class="example-form-field"
                style="width: 100%"
              >
                <mat-label>Ngày học thử</mat-label>
                <input
                  matInput
                  [matDatepicker]="tryDatePicker"
                  formControlName="tryDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="tryDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #tryDatePicker>
                  <mat-datepicker-actions>
                    <button
                      mat-button
                      matDatepickerCancel
                      class="btn btn-danger"
                      style="font-size: 14px; margin: 0 5px; font-weight: 600"
                    >
                      Hủy
                    </button>
                    <button
                      mat-raised-button
                      color="primary"
                      class="btn btn-success"
                      style="font-size: 14px; margin: 0 5px; font-weight: 600"
                      matDatepickerApply
                    >
                      Chọn
                    </button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
              <div
                *ngIf="
                  t.tryDate.invalid && (t.tryDate.dirty || t.tryDate.touched)
                "
              >
                <div *ngIf="t.tryDate.errors">
                  <div *ngIf="t.tryDate.errors.required">
                    <span class="errors" style="bottom: -5px"
                      >Vui lòng chọn ngày học thử</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="input-area datePicker" style="flex-direction: column">
              <div
                style="margin-bottom: 5px"
                style="display: flex; align-items: center; width: 100%"
              >
                <label
                  for="startTime"
                  style="margin-bottom: 5px; width: 48%; text-align: left"
                  >Ngày bắt đầu khóa học</label
                >
                <label style="margin-bottom: 5px; width: 48%; text-align: right"
                  >Ngày kết thúc khóa học</label
                >
              </div>
              <div
                class="datepicker-area w-100"
                style="display: flex; justify-content: space-between"
              >
                <mat-form-field
                  appearance="fill"
                  class="example-form-field"
                  style="width: 48%"
                >
                  <mat-label>Ngày bắt đầu</mat-label>
                  <input
                    matInput
                    [matDatepicker]="datepicker"
                    formControlName="startDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="datepicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                      <button
                        mat-button
                        matDatepickerCancel
                        class="btn btn-danger"
                        style="font-size: 14px; margin: 0 5px; font-weight: 600"
                      >
                        Hủy
                      </button>
                      <button
                        mat-raised-button
                        color="primary"
                        class="btn btn-success"
                        style="font-size: 14px; margin: 0 5px; font-weight: 600"
                        matDatepickerApply
                      >
                        Chọn
                      </button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                </mat-form-field>
                <div
                  *ngIf="
                    t.startDate.invalid &&
                    (t.startDate.dirty || t.startDate.touched)
                  "
                >
                  <div *ngIf="t.startDate.errors">
                    <div *ngIf="t.startDate.errors.required">
                      <span class="errors" style="bottom: -5px"
                        >Vui lòng chọn ngày bắt đầu</span
                      >
                    </div>
                  </div>
                </div>
                <mat-form-field
                  appearance="fill"
                  class="example-form-field"
                  style="width: 48%"
                >
                  <mat-label class="w-100">Ngày kết thúc</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endDatePicker"
                    formControlName="endDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker>
                    <mat-datepicker-actions>
                      <button
                        mat-button
                        matDatepickerCancel
                        class="btn btn-danger"
                        style="font-size: 14px; margin: 0 5px; font-weight: 600"
                      >
                        Hủy
                      </button>
                      <button
                        mat-raised-button
                        color="primary"
                        class="btn btn-success"
                        style="font-size: 14px; margin: 0 5px; font-weight: 600"
                        matDatepickerApply
                      >
                        Chọn
                      </button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                </mat-form-field>
                <div
                  *ngIf="
                    t.endDate.invalid && (t.endDate.dirty || t.endDate.touched)
                  "
                >
                  <div *ngIf="t.endDate.errors">
                    <div *ngIf="t.endDate.errors.required">
                      <span
                        class="errors"
                        style="bottom: -5px; right: 0; text-align: right"
                        >Vui lòng chọn ngày kết thúc</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-info"
          style="font-size: 600; font-size: 14px"
          *ngIf="courseEditForm.valid"
          (click)="submitEditForm()"
          data-dismiss="modal"
        >
          Phản hồi
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          data-dismiss="modal"
          style="font-size: 600; font-size: 14px"
          (click)="courseEditForm.reset()"
        >
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>
