<div class="request">
  <header>
    <p>Đề nghị dạy của bạn</p>
    <a class="link">Xem yêu cầu đã lưu</a>
  </header>
  <div class="request-menu mt-2 mb-3">
    <a
      class="menu-link"
      routerLink="/dashboard-tutor/request/send"
      routerLinkActive="active"
      >Đề nghị dạy đã gửi</a
    >

    <a
      class="menu-link"
      routerLink="/dashboard-tutor/request/receive"
      routerLinkActive="active"
      >Đề nghị dạy học viên yêu cầu</a
    >
  </div>
  <router-outlet></router-outlet>
</div>
