<div class="main">
  <div class="logo">
    <img src="./assets/images/home/logo.svg" alt="" />
  </div>
  <div class="container">
    <p
      class="slogan text-center"
      style="font-weight: 500; font-size: 22px; color: #fff"
    >
      Nền tảng kết nối gia sư và học viên
    </p>
    <div class="main-body mt-5 row">
      <div class="mb-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="tutor">
          <img src="./assets/images/home/student.png" alt="" />
          <div class="content">
            <p class="title">Bạn đang tìm kiếm gia sư</p>
            <p class="_content">
              Tìm kiếm gia sư với đội ngũ gia sư, giáo viên chất lượng cao, hàng
              đầu từ các trường đại học , trường học hàng đầu hiện nay sẽ giúp
              học viên có thành tích tốt nhất trong quá trình học tập
            </p>
            <a routerLink="/student" class="link"
              >Tìm hiểu thêm <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="mb-3 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="tutor">
          <img src="./assets/images/home/tutor.png" alt="" />
          <div class="content">
            <p class="title">Bạn đang tìm kiếm học viên</p>
            <p class="_content">
              Đăng kí ngay để trở thành gia sư của Akadon. Ứng dụng nền tảng
              công nghệ 4.0 giúp tìm kiếm học viên một cách nhanh chóng. Tích
              hợp những tính năng giúp gia sư dạy học offline và online
            </p>
            <a routerLink="/tutor" class="link student-link"
              >Tìm hiểu thêm <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
